MONGODB_URI=mongodb://admin:CAMBIAR_PASSWORD@histia-mongo:27017/histia?authSource=admin
MONGODB_DB_NAME=histia
BETTER_AUTH_SECRET=CAMBIAR_POR_UN_SECRET_LARGO_Y_ALEATORIO
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Histia
MERCADOPAGO_ACCESS_TOKEN=
WHATSAPP_WORKER_PORT=3010
WHATSAPP_WORKER_URL=http://histia-whatsapp-worker:3010
